<!DOCTYPE html>
<html ng-app>
<head>
  <title>Google Suggestion Game</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
  <h1>Google Suggestion Game!</h1>

  <div class='main'>
    <section class='searchQuery' ng-init="suggestionResults=[]">
      <input type="text" placeholder="Search google..." ng-model="newQuery">
      <button ng-click='loadResults(newQuery)'>Send Query</button>
    </section>

  </div>

<script>
  var app = angular.module('myApp', []);
  app.controller('mainController', function($scope){

    $scope.suggestionResults = Query.loadResults;
  })
</script>
</body>

</html>